.footer {
   padding-top: 1.5rem;
  text-align: center;
}

.footer p {
    font-size: 1.1rem;
    align-items: center;
    padding-bottom: 1rem;
    
   
}

.bio p {
    font-size: 1rem;
    
}




 
